<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt_fwid</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>exclam</string>
    <string>question</string>
    <string>asterisk</string>
    <string>numbersign</string>
    <string>slash</string>
    <string>backslash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>hyphen</string>
    <string>underscore</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>cent</string>
    <string>currency</string>
    <string>dollar</string>
    <string>sterling</string>
    <string>yen</string>
    <string>plus</string>
    <string>equal</string>
    <string>greater</string>
    <string>less</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>asciicircum</string>
    <string>percent</string>
    <string>at</string>
    <string>ampersand</string>
    <string>bar</string>
    <string>grave</string>
    <string>macron</string>
  </array>
  <key>aalt_fwid2</key>
  <array>
    <string>A-fwd</string>
    <string>B-fwd</string>
    <string>C-fwd</string>
    <string>D-fwd</string>
    <string>E-fwd</string>
    <string>F-fwd</string>
    <string>G-fwd</string>
    <string>H-fwd</string>
    <string>I-fwd</string>
    <string>J-fwd</string>
    <string>K-fwd</string>
    <string>L-fwd</string>
    <string>M-fwd</string>
    <string>N-fwd</string>
    <string>O-fwd</string>
    <string>P-fwd</string>
    <string>Q-fwd</string>
    <string>R-fwd</string>
    <string>S-fwd</string>
    <string>T-fwd</string>
    <string>U-fwd</string>
    <string>V-fwd</string>
    <string>W-fwd</string>
    <string>X-fwd</string>
    <string>Y-fwd</string>
    <string>Z-fwd</string>
    <string>a-fwd</string>
    <string>b-fwd</string>
    <string>c-fwd</string>
    <string>d-fwd</string>
    <string>e-fwd</string>
    <string>f-fwd</string>
    <string>g-fwd</string>
    <string>h-fwd</string>
    <string>i-fwd</string>
    <string>j-fwd</string>
    <string>k-fwd</string>
    <string>l-fwd</string>
    <string>m-fwd</string>
    <string>n-fwd</string>
    <string>o-fwd</string>
    <string>p-fwd</string>
    <string>q-fwd</string>
    <string>r-fwd</string>
    <string>s-fwd</string>
    <string>t-fwd</string>
    <string>u-fwd</string>
    <string>v-fwd</string>
    <string>w-fwd</string>
    <string>x-fwd</string>
    <string>y-fwd</string>
    <string>z-fwd</string>
    <string>uniFF10</string>
    <string>uniFF11</string>
    <string>uniFF12</string>
    <string>uniFF13</string>
    <string>uniFF14</string>
    <string>uniFF15</string>
    <string>uniFF16</string>
    <string>uniFF17</string>
    <string>uniFF18</string>
    <string>uniFF19</string>
    <string>uniFF0E</string>
    <string>uniFF0C</string>
    <string>uniFF1A</string>
    <string>uniFF1B</string>
    <string>uniFF01</string>
    <string>uniFF1F</string>
    <string>uniFF0A</string>
    <string>uniFF03</string>
    <string>uniFF0F</string>
    <string>uniFF3C</string>
    <string>uniFF08</string>
    <string>uniFF09</string>
    <string>uniFF5B</string>
    <string>uniFF5D</string>
    <string>uniFF3B</string>
    <string>uniFF3D</string>
    <string>uniFF0D</string>
    <string>uniFF3F</string>
    <string>uniFF02</string>
    <string>uniFF07</string>
    <string>uniFFE0</string>
    <string>currency.full</string>
    <string>uniFF04</string>
    <string>uniFFE1</string>
    <string>uniFFE5</string>
    <string>uniFF0B</string>
    <string>uniFF1D</string>
    <string>uniFF1E</string>
    <string>uniFF1C</string>
    <string>uniFF5E</string>
    <string>uniFFE2</string>
    <string>uniFF3E</string>
    <string>uniFF05</string>
    <string>uniFF20</string>
    <string>uniFF06</string>
    <string>uniFF5C</string>
    <string>uniFF40</string>
    <string>uniFFE3</string>
  </array>
</dict>
</plist>
